* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}
body{
    background-color: #d0c5b1;
    background-image: url(../images/studioghibhi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
nav {
    display: flex;
    justify-content: end;
    height: 75px;
    line-height: 75px;
    background-color: #ae885a;
    text-align: end;
}
nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}
.active{
    text-decoration: underline #e6c492;
    color: #543624;
}
.active:hover{
    text-decoration: underline #e6c492;
    color: #e6c492;
}
nav .nav-list .nav-link {
    color: #543624;
    font-size: 24px;
    font-weight: 500;
    position: sticky;
}
nav .nav-list .nav-link:hover {
    color: #e6c492;
}
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: fixed;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }

}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: fixed;
        background-color: #ae885a;
        width: 100%;
        top: 72px;
        left: 0;
        transform: translateY(-130%);
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

}

.page{
    color: white;
    border: 3px solid #f5dfd0;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    margin:auto;
    margin-top: 250px;
    background-color: #ae885a;
    justify-content: center;
    font-size: 2em;
}
.page1{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color:  #ae885a;
    justify-content: center;
    padding: 5px;

}
.page2 img{
    color: white;
    border: 5px solid #543624;
    border-radius: 30px;
    width: 60%;
    text-align: right;
    margin: 30px 40px 0px 40px;
    background-color:  #e6c492;
}
.page3 img{
    color: white;
    border: 5px solid #543624;
    border-radius: 30px;
    width: 60%;
    text-align: right;
    margin: 30px 0px 0px 700px;
    background-color:  #e6c492;
}

button{
    border: 1px solid white;
    color:#e6c492 ;
    background-color: #543624;
    border-radius: 30px;
    margin: 40px 0px 40px 500px;
    justify-content: center;
    width: 200px;
    height: 30px;
    transition: 0.5s;
    font-size: 20px;

}
button:hover{
    border: 1px solid #e6c492;
    background-color:#e6c492 ;
    color: #543624;
}
/* @media (max-width:900px) {
    body{
        background-image: none;
    }

    } */