@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Sono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 20px;
    background-color: #d0c5b1;
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: #ae885a;
    text-align: end;
}
.logo{
    font-family: 'Sono', sans-serif;
    color: #f5dfd0;
    padding: 1px;
    box-shadow: 1px 2px #543624;
    text-align: end;
    font-size: 30px;
    height: 42px;
}
nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
}
.active{
    text-decoration: underline #e6c492;
    color: #543624;
}
.active:hover{
    text-decoration: underline #e6c492;
    color: #e6c492;
}
nav .nav-list .nav-link {
    color: #543624;
    font-size: 24px;
    font-weight: 500;
    position: sticky;
}
nav .nav-list .nav-link:hover {
    color: #e6c492;
}
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 8px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
}
/* for hamburger icon */
input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 25px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: fixed;
    transform: rotate(-45deg) translate(-23px, -30px);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(45deg) translate(-30px, 25px);
    position: fixed;
}
.text{
    letter-spacing: 0.3px;
    margin: 3px;
}
.text p{
    margin: 30px;
    font-size: 23px;
}
@keyframes slidein{
    from{
        transform: translateX(-60px);
    }
    to{
        transform: translate(60px);
    }
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-radius: 20px;
    display: grid;
    text-align: center;
    animation: slidein 3s ease-in-out infinite alternate ;
}
.img p{
    text-align: center;
    font-size: 30px;
}
.end{
    width: 100%;
    height: 30vh;
    background: #ae885a;
    display: block;
    padding: 50px 0;
}
.top{
    color: #543624;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
    margin: 30px;
    line-height: 3;

}
.top:hover{
    text-decoration: underline;
}
.bottom{
    color: #543624;
    font-size: 24px;
    font-weight: 500;
    padding: 70px;
    text-align: center;
}
@media (max-width: 1030px) {

    nav {
    padding: 0 2rem;
    height: 50px;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }
    .bottom{
        padding: 50px;
    }
}
@media (max-width: 920px){
    img {
        width: 820px;
        animation: none ;
    }
    .text p {
            font-size: 28px;
    }
    .top{
        font-size: 28px;
    }
    .bottom{
        font-size: 28px;
    }
}
@media (max-width: 830px) {
    img{
        width: 800px;
    }
}
@media (max-width: 790px) {
    
    nav .nav-list {
        display: grid;
        position: fixed;
        background-color: #ae885a;
        width: 25%;
        top: 48px;
        right: 0;    
        transform: translateY(-130%);
    }

    nav .nav-list .nav-item {
        text-align: center;
        padding: 0;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
    .text p {
        font-size: 23px;
    }
    img{
        width: 600px;
    }
    .bottom{
        padding: 60px;
        font-size: 23px;
    }
}
@media (max-width: 640px) {
    img{
        width: 450px;
    }
    .top{
        font-size: 20px;
    }
    .bottom{
        padding: 40px;
        font-size: 20px;
    }
}
@media (max-width: 540px) {
    nav {
        padding: 0 20px 0 0;
        height: 30px;
        line-height: 20px;
    }
    .logo{
        height: 20px;
        font-size: 20px;
    }
    nav .nav-list .nav-item {
        padding: 0 2px;
    }
    nav .nav-list{
        width: 100%;
        height: 100vh;
    }
    nav .navbar-toggler .bar{
        width: 20px;
        height: 2px;
        margin-bottom: 3px;
    }
    input:checked ~ nav .navbar-toggler .bar:nth-child(1){
        transform: rotate(-45deg) translate(-4px, -21px);
    }
    input:checked ~ nav .navbar-toggler .bar:nth-child(3){
        transform: rotate(45deg) translate(-22px, 5px);
    }
    /* to make the hamburger icon small for smal devices */
    nav .nav-list{
        top: 29px;
    }
    .top{
        font-size: 18px;
    }
    .bottom{
        padding: 20px;
        font-size: 18px;
    }
    .end{
        width: 100%;
        height: 23vh;
    }
}
@media (max-width: 460px){
    img{
        width: 350px;
        margin: 10px;
        border-radius: 0;
    }
    .top{
        font-size: 20px;
    }
    .bottom{
        padding: 5px;
        font-size: 20px;
    }
}
@media (max-width: 396px){
    img{
        width: 290px;
    }
}
@media (max-width: 333px){
    img{
        width: 250px;
    }
    .top{
        font-size: 16px;
        line-height: 1;
    }
    .bottom{
        padding: 20px;
        font-size: 16px;
    }
}
